.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}


.App-header {
  background-color: #ffffff;
  display: flex;
}

.App-link {
  color: #61dafb;
}

.grupo{
  flex-direction: row;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  align-items: center;
}


